
<div class="form-group">

	<label>Catégories ({{categories.length}})</label>

	<div class="input-group">

		<select class="form-control"
				data-ng-disabled="!categories.length" data-ng-class="{'disabled' : !categories.length }"
				data-ng-options="category.name for category in categories"
				data-ng-model="selectedcategory"
				data-ng-change="selectCategory(selectedcategory);">
			<option value="">-- NC --</option>
		</select>

		<span class="input-group-btn">

			<button type="button" class="btn btn-primary"
					data-ng-click="addCategory();">
				<span class="glyphicon glyphicon-plus"></span>
			</button>

			<button type="button" class="btn btn-primary"
					data-ng-disabled="!selectedcategory" data-ng-class="{'disabled' : !selectedcategory  }"
					data-ng-click="editCategory(selectedcategory);">
					<span class="glyphicon glyphicon-pencil"></span>
			</button>

			<button type="button" class="btn btn-primary"
					data-ng-disabled="!selectedcategory" data-ng-class="{'disabled' : !selectedcategory  }"
					data-ng-click="deleteCategory(selectedcategory);">
					<span class="glyphicon glyphicon-trash"></span>
			</button>

		</span>

	</div>

</div>

<div data-ng-show="selectedcategory">

	<div class="form-group">

		<label>Vidéos ({{videos.length}})</label>

		<div class="input-group">

			<select class="form-control"
					data-ng-disabled="!videos.length" data-ng-class="{'disabled' : !videos.length }"
					data-ng-options="video.name for video in videos"
					data-ng-model="selectedvideo">
				<option value="">-- NC --</option>
			</select>

			<span class="input-group-btn">

				<button type="button" class="btn btn-primary"
						data-ng-click="openWindowVideo(selectedcategory);">
					<span class="glyphicon glyphicon-plus"></span>
				</button>

				<button type="button" class="btn btn-primary"
						data-ng-disabled="!selectedvideo" data-ng-class="{'disabled' : !selectedvideo  }"
						data-ng-click="openWindowVideo(selectedcategory, selectedvideo);">
						<span class="glyphicon glyphicon-pencil"></span>
				</button>

				<button type="button" class="btn btn-primary"
						data-ng-disabled="!selectedvideo" data-ng-class="{'disabled' : !selectedvideo  }"
						data-ng-click="deleteVideo(selectedcategory, selectedvideo);">
						<span class="glyphicon glyphicon-trash"></span>
				</button>

				<button type="button" class="btn btn-primary"
						data-ng-disabled="!selectedvideo" data-ng-class="{'disabled' : !selectedvideo  }"
						data-ng-click="preview(selectedvideo);">
						<span class="glyphicon glyphicon-play-circle"></span>
				</button>

			</span>

		</div>

	</div>

	<div data-ng-show="selectedvideo.code">

		<div class="form-group" data-ng-show="childs.length">

			<label>Enfants ({{childs.length}})</label>

			<div class="input-group">

				<div class="form-group" data-ng-show="1 == childs.length">
					<div class="form-control">
						{{selectedchild.name}}
					</div>
				</div>

				<select class="form-control"
						data-ng-options="child.name for child in childs"
						data-ng-model="selectedchild"
						data-ng-show="1 < childs.length">
					<option value="">-- NC --</option>
				</select>

				<span class="input-group-btn">

					<button type="button" class="btn btn-primary"
							data-ng-disabled="!selectedchild || !selectedvideo.code" data-ng-class="{'disabled' : !selectedchild || !selectedvideo.code }"
							data-ng-click="playSound(selectedchild, selectedvideo);">
							<span class="glyphicon glyphicon-music"></span>
					</button>

					<button type="button" class="btn btn-primary"
							data-ng-disabled="!selectedchild || !selectedvideo.code" data-ng-class="{'disabled' : !selectedchild || !selectedvideo.code }"
							data-ng-click="playVideo(selectedchild, selectedvideo);">
							<span class="glyphicon glyphicon-facetime-video"></span>
					</button>

				</span>

			</div>

		</div>
	
	</div>

	<form id="modalFormVideo" class="modal fade only-logged hidden">

		<div class="modal-dialog">

			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title">Vidéo</h4>
				</div>

				<div class="modal-body">

					<div class="form-group">
						<label for="formVideoName">Nom</label>
						<input id="formVideoName" type="text" class="form-control" data-ng-model="formvideo.name" />
					</div>

					<div class="form-group">
						<label for="formVideoUrl">Url</label>
						<input id="formVideoUrl" type="url" class="form-control" data-ng-model="formvideo.url" />
					</div>

				</div>

				<div class="modal-footer">

					<button type="button" class="btn btn-primary"
							data-ng-disabled="loading" data-ng-class="{'disabled' : loading }"
							data-ng-click="writeVideo(selectedcategory, formvideo);">
						<span data-ng-show="!formvideo.code">Ajouter</span>
						<span data-ng-show="formvideo.code">Modifier</span>
					</button>

					<button type="button" class="btn btn-default" data-ng-click="closeModalFormVideo();">Fermer</button>

				</div>

			</div>

		</div>

	</form>

</div>
